**/cmake/*.cmake
**/cmake/Makefile
**/cmake/CMakeFiles
**/cmake/CMakeCache.txt
**/cmake/.project
**/cmake/.cproject
.settings
src/hash/bad-test/cmake/BadTest
src/hash/bad-set/cmake/BadSet
src/hash/table-test/cmake/BadLinearSystemTest
src/hash/cwlf-dynamic-test/cmake/CWLFTest
src/hash/table-simple-length-test/cmake/TableSimpleLengthTest
src/hash/table-lib/cmake/libTable.a
src/hash/system-test/cmake/SystemTest
src/hash/stl-compare/cmake/StdTest
src/hash/table-time-test/cmake/TableTimeTest
src/hash/table-test/cmake/TableTest
src/hash/table-two-way-test/cmake/TableTwoWayTest
src/hash/test-suite/cmake/libTestSuite.a
src/hash/table-simple-length-test/cmake/TableLengthTest
src/hash/induction-test/cmake/InductionTest
src/hash/m-test/cmake/MTest
src/hash/surjectivity/cmake/Surjectivity
src/hash/probability-distribution/cmake/ProbabilityDistribution
*.aux
*.log
*.out
*.pdf
*.dvi
*.exe
*.bbl
*.blg
*.toc
*.thm
*.synctex
*.wsp
*.ps
data_structures/2015-michal-koucky/hw1/cmake/gen-data
data_structures/2015-michal-koucky/hw1/cmake/mj
data_structures/2015-michal-koucky/hw1/cmake/solution
data_structures/2016-jiri-fink/hw1/cmake/data.*
data_structures/2016-jiri-fink/hw1/cmake/gen-data
data_structures/2016-jiri-fink/hw1/cmake/in.txt
data_structures/2016-jiri-fink/hw1/cmake/jf
data_structures/2016-jiri-fink/hw1/cmake/solution
src/hash/bad-set/cmake/*.txt
src/hash/probability-distribution/cmake/*.csv
src/hash/probability-distribution/cmake/*.png
